@charset "UTF-8";
.containers{
	margin: 0 auto;
	padding-top: 45px;
    max-width: 600px;
    min-height:648px;
}
h4{
	font-size: 1.5rem;
}
hr{
	margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: var(--iu-border-width) solid;
    opacity: .25
}
.section{
	margin: 10px 0 20px;
    padding: 15px;
    border: 1px solid #eee;
    background-color: #fcfcfc;
    font-size: 13px;
    white-space: pre-wrap;
}