@charset "UTF-8";
/* 푸터 */
#footer{
	position : absolute;
	margin-top:30px; /* 바깥 여백 */
	width:100%; /* 가로 사이즈 */ height: 150px;
	display: flex; /* 하위 요소 배치방법 */
	color:#C7CBFF;
	background-color: #EFF8FF;
	
}
a{
	color:#C7CBFF;
}
.ft_box{
	width: 1200px;				/* 가로 길이 */
	margin: 0 auto;				/* 구역 가운데 정렬 */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}
.main_logo{
	text-align: center;
}
