@charset "UTF-8";
/* 푸터 */
#footer{
	margin-top:30px; /* 바깥 여백 */
	width:100%; /* 가로 사이즈 */ height: 150px;
	display: flex; /* 하위 요소 배치방법 */
	color:#C7CBFF;
	background-color: #EFF8FF;
	
}
a{
	color:#C7CBFF;
}
.ft_box{				
	   margin-left: 525px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}
.main_logo{
	text-align: center;
}
.ft_main{
	height: 16px;
    width: 300px;
    margin: 60px 0px 50px 0px;
}
.ft_content{
	    padding-left: 200px;
	display:flex;
}
.ft_right{
	margin-left: 50px;
	display:flex;
	width: 513px;
}
.ft_rightcontent{
	padding: 10px 0px;
    margin: 30px;
    display: flex;
    flex-direction: column;
}