@charset "UTF-8";

.content_top{
	display:flex;
	width: 100%;
	height: 59px;
	margin: 16px 0 29px;
    padding-bottom: 11px;
    border-bottom: 1px solid #eee;
	
}
.content_top2{
	width: 100%;
	display:flex;
	flex-direction: column;
}
.top_left {
	display:flex;
	justify-content: space-between;
}
.top_left2{
	display:flex;
	
}
.btitle{
	font-size: 20px;
	font-weight: bold;
}
.filebox{
	max-height:57px;
	margin-bottom: 15px;
	margin-top: 15px;
    padding: 8px 13px 9px;
    border: 1px solid #d5d5d5;
}
.content{
	min-height: 350px;
	margin-bottom: 50px;
}
.bottom{
		border:none;
		border-radius:10%;
		padding: 8px 16px;
		height:40px;
	    background-color: #F0F0F0;
    color: black;
}