@charset "UTF-8";

.number{
	margin-top:20px;
	color: #fab005;
	display : inline;
}
.Title{
	display : inline;
}
.yellow{
	color: #fab005;
}
.box{
	font-family: "고딕";
	margin-top:20px;
	background-color: #0f6878;
	color:white;
	width: 500px;						/* 구역 가로 길이 */
	padding: 20px;						/* 구역 안쪽 여백 */
}