@charset "UTF-8";
 *{
   margin: 0; 
   padding: 0;
   font-family: "맑은 고딕"
}   
a{
   text-decoration: none;
   color: white;
}

li{list-style-type:none; }  
/**/
#wrap{ position: sticky;  }

#header{ 
   height: 168px;
   display:flex;
   justify-content:center;
   width: 100%;
   background-color: #E22219;
   align-items: center;

}
.header_content{
   font-family: SDGothic,HGG,Malgun Gothic,"\B9D1\C740\ACE0\B515",dotum,"\B3CB\C6C0",sans-serif;
   width: 1184px;
   padding-top: 10px;

}
.top_logo{
   display:flex;
   color:white;
   text-align: center;
   margin-bottom: 20px;
   padding-left: 16px;
   align-items: center;
}
.top_logo h2{
  
    text-align: center;
    margin-left: 10px;
   
    font-size: 36px;
    font-weight: bold;	
}
.top_menu{

   text-align: right;
   font-size: 15px;
   color: white;
   font-weight: bold;
   padding: 0 10px 10px 10px;
}  
.top_menu span{color:#E84E47;
}

.bottom_menu{
   display: flex;
   justify-content: space-between;
   margin-top:10px;
   text-align: center;

}
.signupdiv{display:flex;}
.sign_up{ 
   width: 168px;
    height: 50px;
    margin-top: 20px;
    font-weight: 400;
    margin-right: 23px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
    top: auto;
    right: 20px;
    bottom: 35px;
    background: #512314;
   }
.sub_header{ 
   background-color: #000000;
   width: 100%;
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
}
.sub_menu{ 
   width: 1184px; height: 40px;
   color: white;
   padding-top: 15px;
   font-weight: bold;
   font-size: 15px;
}
/**/
/* 헤더 밑 검정 바 안 색, 위치 조정 */
#menu_black_bar{
	height:58px;
	padding:10px 0;
	display:flex;
	justify-content: center;
	align-items:center;
	background-color: #000000}

/* 검정 바 안 a태그 텍스트 색 */
#menu_black_bar a{
	color: white;
}

/* 검정바 안 내용 블록 크기 */
.black_bar_space{
	width:1184px;
	
}

/* 검정바 안 블록 안 폰트 사이즈 공간 사이즈 */
.black_bar_text {
	width:1144px;
	padding:0 20px;
	font-size: 20px;
	
}

/* 검정바 안 내용물 정렬 */
.black_bar_text li{
	display: flex;
	display: inline-block;
	color:#ffffff;
}	
.bbtext{
	display: flex;
	display: inline-block;
	color:#ffffff;
}
/**/
.web_container{
	width:1144px;
	margin: 0px 82px;
	padding: 75px 20px 0px;
	margin: 0 auto;
}
#main_content{
   width: 1144px;
   margin: 0 auto;
  
}
.main_font{
   margin-top: 90px;
    margin-left: 23px;

}
.page_tit02{
	color: #2e2e2e;
    font-weight: bold;
    font-size:36px;
}
p{
display: block;
    margin-block-start: 1em;
    
}
em{
	color: #e22219;
	font-style: normal;
}
.left_name{
    margin: 30px 0 0;
    font-size: 1.5rem; 
}
.name{ 
   display: none;
}
.left_name .p_font1{
   font-size: 20px; 
}
.left_name .p_font2{
   font-size: 16px;
   margin-top: 4px
}
.p_foint3{
   font-size: 16px;
    color: #00000099;
    
    margin-top: 15px;
}
.weblogin_ul{
	padding: 45px 0px 70px;
}
.sinup_box1{
   padding: 85px 59.8281px 0px 0px;
   border-right: solid 1px #E5E5E5;
   width: 50%;
  
   display: table-cell;
   min-height: 355px;
}
.sinup_item1{
   display: flex;
   
}
.item1{
   margin-top: 10px;
   margin-bottom: 17px;
}
.item2{
	margin-top: 15px;
}
.btn1{
   background-color: #D72300;
   border: none; color: white;
   font-weight: bold;
   
    width: 446px;
    padding: 20px 10px;
   font-size: 1.625rem;
   border-radius: 8px;
   margin: 0px 20px 30px 44px;
}
.sinup_box2{
   padding: 45px 16px 70px;
   width: 557px;
   text-align:center;
   display: table-cell;
}
.sinup_item2{
   display: flex;
}
.btn2{
   background-color: #1EC800;
   border: none; color: white;
   font-weight: bold;
   margin-left: -13px;
    width: 338px;
    padding: 15px;
   font-size: 1.625rem;
   border-radius: 8px;
}
.btn3{
   background-color: #FFEB00;
   border: none; color: #3C1E20;
   font-weight: bold;
   margin-left: -13px;
    width: 338px;
    padding: 15px;
   font-size: 1.625rem;
   border-radius: 8px;
   margin-top: 10px;
}
.btn4{
   background-color: #000000;
   border: none; color: white;
   font-weight: bold;
   margin-left: -13px;
    width: 338px;
    padding: 15px;
   font-size: 1.625rem;
   border-radius: 8px;
   margin-top: 10px;
}

/**/

#footer{
   width: 100%;
   background-color: #2B0200;
   margin: 0 auto;
   color: white;
   height: 272px;
}

.copyright{
   display: flex;
   justify-content: space-between;
   width: 1144px;
   margin: 0 auto;
   padding: 40px 0px;
}

.copy_left a{
   display: inline;
}

.copy_left p{
   margin: 20px 0px;
   color: #BBA391;
   font-size: 15px;
   
}

.copy_right li{
   display: inline;
   color: #BBA391;
   padding: 0px 5px;
   font-family: "TTWanjudaedunsancheB";
   font-size: 15px;
}

.copy_border{
   border-left: solid 1px #411C1A;
   border-right: solid 1px #411C1A;
}

.copy_right ul{
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
}

.copy_right span{
   color: #BBA391;
   font-weight: bold;
   border: solid 1px #BBA391;
   padding: 5px 30px;
   margin: 20px 0px;
   border-radius: 50px;
   color: #F5EBDC;
   font-size: 13px;
   
}

.copy_right a{
   display: inline-block;
   
}
.fixed{
   position: fixed;
   bottom: 50px;
   left: 50%;
   width: 52px;
   height: 52px;
   background-image: url("img/fixed_arrow.png");
   background-size: 48px 48px;
   border: none;
   opacity: 0.8;
   margin-left: 600px;
   background-color: black;
}

